<!DOCTYPE html>
<html lang="zh-CN" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>丝之歌计时器生成器网页版</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="http://127.0.0.1:12333/x/static/css-vars.css" />
    <link rel="stylesheet" href="http://127.0.0.1:12333/x/static/index.css" />
    <script src="http://127.0.0.1:12333/x/static/vue.global.prod.js"></script>
    <script src="http://127.0.0.1:12333/x/static/index.full.min.js"></script>
    <script src="http://127.0.0.1:12333/x/static/index.iife.min.js"></script>
    <script src="http://127.0.0.1:12333/x/static/axios.min.js"></script>
</head>

<body>
<div id="app" style="display: flex; flex-direction: column; width: 960px; margin: 0 auto;">
    <el-alert title="如果想为本项目做贡献，请前往本项目的仓库地址： https://github.com/CuteReimu/sssplitmaker" type="info" effect="dark" close-text="前往" @close="openGithub" style="max-width: 960px"></el-alert>
    <el-select v-model="currentTemplate" filterable placeholder="你可以选择现有模板" style="width: 500px" @change="selectTemplate">
        <el-option v-for="item in templates" :key="item.value" :label="item.label" :value="item.value"></el-option>
    </el-select>
    <el-upload v-model:file-list="fileList" drag action="/upload" accept=".lss" :on-success="uploadTableData" :on-error="uploadFailed" :on-change="handleChange" style="max-width: 960px">
        <el-icon class="el-icon--upload"><upload-filled></upload-filled></el-icon>
        <div class="el-upload__text">
            你也可以将文件拖拽到这里或者 <em>点击上传</em>
        </div>
        <template #tip>
            <div class="el-upload__tip">
                只支持 *.lss 文件
            </div>
        </template>
    </el-upload>
    <el-alert title="使用网页版期间请勿关闭计时器生成器！" type="error" effect="dark" style="max-width: 960px"></el-alert>
    <el-alert title="由于翻译水平有限，翻译可能不准确，请检查翻译对照表是否正确后使用。" type="warning" effect="dark" :show-icon="true" close-text="打开翻译对照表" @close="openTranslate" style="max-width: 960px"></el-alert>
    <div style="display: flex; gap: 8px;">
        <el-button type="success" @click="fillIcons">一键填充所有未填充的图标</el-button>
        <el-button type="danger" @click="resetIcons">一键清空所有图标</el-button>
        <el-button type="primary" @click="downloadIcons">下载所有图标</el-button>
    </div>
    <div>
        <el-switch
            v-model="skipStartAnimation"
            size="large"
            active-text="跳过开场动画"
            inactive-text="不跳过"
            @change="onSkipStartAnimationChange"
            :disabled="disableStartAnimation"
        ></el-switch>
        <a href="https://cutereimu.cn/daily/silksong/speedrun-submit.html#%E6%96%B0%E8%A7%84%E5%88%99-%E5%85%81%E8%AE%B8%E8%B7%B3%E8%BF%87%E5%BC%80%E5%9C%BA%E5%8A%A8%E7%94%BB" target="_blank" rel="noopener noreferrer">
            <el-text size="large" style="margin-left: 12px;">这是什么意思？</el-text>
        </a>
    </div>
    <el-table :data="tableData" style="max-width: 960px" v-loading="loading" element-loading-text="正在加载数据...">
        <el-table-column label="图标" width="60px">
            <template #default="scope">
                <el-image v-if="scope.row.icon.length>0" style="width: 25px; height: 25px" :src="scope.row.icon" fit="contain"></el-image>
            </template>
        </el-table-column>
        <el-table-column label="节点名称">
            <template #default="scope">
                <el-input v-if="scope.$index>0 && scope.$index<tableData.length-1" v-model="scope.row.name" filterable placeholder="节点名称" style="width: 300px"></el-input>
            </template>
        </el-table-column>
        <el-table-column label="触发事件">
            <template #default="scope">
                <el-select v-if="scope.$index<tableData.length-1" v-model="scope.row.event"
                           @change="onEventChange(scope.$index)" filterable placeholder="触发事件" style="width: 300px">
                    <el-option v-for="item in options" :key="item.value" :label="item.label"
                               :value="item.value"></el-option>
                </el-select>
            </template>
        </el-table-column>
        <el-table-column label="操作" :width="220">
            <template #default="scope">
                <el-button v-if="scope.$index>0" :icon="Plus" circle @click="addLine(scope.$index)"></el-button>
                <el-button :disabled="tableData.length<=3" v-if="scope.$index>0 && scope.$index<tableData.length-1" :icon="Minus" circle @click="removeLine(scope.$index)"></el-button>
                <el-button :disabled="scope.$index<=1" v-if="scope.$index>0 && scope.$index<tableData.length-1" :icon="Top" circle @click="swapLine(scope.$index-1, scope.$index)"></el-button>
                <el-button :disabled="scope.$index>=tableData.length-2" v-if="scope.$index>0 && scope.$index<tableData.length-1" :icon="Bottom" @click="swapLine(scope.$index, scope.$index+1)" circle></el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-checkbox v-model="includeTimeRecords" size="large">保留*.lss文件中原本的时间记录（如果有）</el-checkbox>
    <el-button type="primary" @click="submit" style="align-self: flex-start;" :disabled="disableSubmit">另存为</el-button>
</div>
<script src="main.js"></script>
</body>
</html>