<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>丝之歌计时器生成器网页版</title>
    <link rel="stylesheet" href="http://127.0.0.1:12333/x/static/index.css" />
    <script src="http://127.0.0.1:12333/x/static/vue.global.prod.js"></script>
    <script src="http://127.0.0.1:12333/x/static/index.full.min.js"></script>
    <script src="http://127.0.0.1:12333/x/static/index.iife.min.js"></script>
    <script src="http://127.0.0.1:12333/x/static/axios.min.js"></script>
</head>

<body>
<div id="app" style="display: flex; flex-direction: column;">
    <el-select v-model="currentTemplate" filterable placeholder="你可以选择现有模板" style="width: 500px" @change="selectTemplate">
        <el-option v-for="item in templates" :key="item.value" :label="item.label" :value="item.value"></el-option>
    </el-select>
    <el-upload v-model:file-list="fileList" drag action="/upload" accept=".lss" :on-success="uploadTableData" :on-error="uploadFailed" :on-change="handleChange" style="max-width: 960px">
        <el-icon class="el-icon--upload"><upload-filled></upload-filled></el-icon>
        <div class="el-upload__text">
            将文件拖拽到这里或者 <em>点击上传</em>
        </div>
        <template #tip>
            <div class="el-upload__tip">
                只支持 *.lss 文件
            </div>
        </template>
    </el-upload>
    <el-alert title="由于翻译水平有限，翻译可能不准确，请检查翻译对照表是否正确后使用。" type="primary" :show-icon="true" close-text="打开翻译对照表" @close="openTranslate" style="max-width: 960px"></el-alert>
    <el-table :data="tableData" style="max-width: 960px" v-loading="loading" element-loading-text="正在加载数据...">
        <el-table-column label="节点名称">
            <template #default="scope">
                <el-input v-if="scope.$index>0 && scope.$index<tableData.length-1" v-model="scope.row.name" filterable placeholder="节点名称" style="width: 300px"></el-input>
            </template>
        </el-table-column>
        <el-table-column label="触发事件">
            <template #default="scope">
                <el-select v-if="scope.$index<tableData.length-1" v-model="scope.row.event" filterable placeholder="触发事件" style="width: 300px">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </template>
        </el-table-column>
        <el-table-column label="操作" :width="220">
            <template #default="scope">
                <el-button v-if="scope.$index>0" :icon="Plus" circle @click="addLine(scope.$index)"></el-button>
                <el-button :disabled="tableData.length<=3" v-if="scope.$index>0 && scope.$index<tableData.length-1" :icon="Minus" circle @click="removeLine(scope.$index)"></el-button>
                <el-button :disabled="scope.$index<=1" v-if="scope.$index>0 && scope.$index<tableData.length-1" :icon="Top" circle @click="swapLine(scope.$index-1, scope.$index)"></el-button>
                <el-button :disabled="scope.$index>=tableData.length-2" v-if="scope.$index>0 && scope.$index<tableData.length-1" :icon="Bottom" @click="swapLine(scope.$index, scope.$index+1)" circle></el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-button type="primary" @click="submit" style="align-self: flex-start;" :disabled="disableSubmit">另存为</el-button>
</div>

<script>
    // 导入需要的图标
    const { Plus, Minus, Top, Bottom, UploadFilled } = ElementPlusIconsVue;
    const { ElMessage } = ElementPlus;
    const { createApp } = Vue;
    const app = createApp({
        data() {
            return {
                disableSubmit: false,
                options: {{.options}},
                currentTemplate: '',
                templates: [],
                loading: false,
                tableData: [
                    {
                        name: '',
                        event: 'StartNewGame',
                    },
                    {
                        name: '任意结束',
                        event: 'EndingSplit',
                    },
                    {
                        name: '',
                        event: 'ManualSplit',
                    },
                ],
                fileList: [],
            };
        },
        setup() {
            return {
                Plus,
                Minus,
                Top,
                Bottom,
                UploadFilled,
            };
        },
        mounted() {
            axios.get('/get-templates')
                .then(response => {
                    this.templates = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        methods: {
            addLine(index) {
                this.tableData.splice(index, 0,
                    {
                        name: '手动分割',
                        event: 'ManualSplit',
                    },
                );
            },
            removeLine(index) {
                this.tableData.splice(index, 1);
            },
            swapLine(index1, index2) {
                const temp = this.tableData[index1];
                this.tableData[index1] = this.tableData[index2];
                this.tableData[index2] = temp;
            },
            submit() {
                axios.post('/build-splits',
                    this.tableData.slice(0, -1),
                    {
                        responseType: 'blob',
                        headers: { 'Content-Type': 'application/json' },
                    })
                    .then(response => {
                        this.disableSubmit = true;
                        const blob = new Blob([response.data], { type: 'application/octet-stream' });
                        const url = URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.download = 'splits.lss';
                        link.style.display = 'none';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        setTimeout(() => {
                            URL.revokeObjectURL(url);
                            this.disableSubmit = false;
                        }, 2000);
                    })
                    .catch(error => {
                        console.error(error);
                        ElMessage({ message: '导出失败', type: 'error', plain: true });
                    });
            },
            uploadTableData(newData) {
                this.loading = true;
                this.tableData = newData;
                this.$nextTick(() => {
                    this.loading = false;
                });
            },
            uploadFailed(err) {
                console.log(err);
                ElMessage({
                    message: err,
                    type: 'error',
                    plain: true,
                });
            },
            selectTemplate(value) {
                this.loading = true;
                axios.post('/get-splits', {name: value}, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                })
                .then(response => {
                    this.tableData = response.data.splits;
                    this.$nextTick(() => {
                        this.loading = false;
                    });
                })
                .catch(error => {
                    console.log(error);
                    this.loading = false;
                });
            },
            handleChange(file, fileList) {
                const latest = fileList.slice(-1);
                this.fileList.splice(0, this.fileList.length, ...latest);
            },
            openTranslate() {
                window.open('/translate', '_blank', 'noopener,noreferrer')
            },
        },
    });
    app.component(UploadFilled.name, UploadFilled);
    app.use(ElementPlus);
    app.mount('#app');
</script>
</body>
</html>