name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 'stable'

    - name: Create Fake Embed Files
      run: |
        touch LiveSplit.AutoSplitters.xml
        touch silksong_autosplit_wasm_stable.wasm
        mkdir -p static
        touch static/axios.min.js
        touch static/index.css
        touch static/css-vars.css
        touch static/index.full.min.js
        touch static/index.iife.min.js
        touch static/vue.global.prod.js

    - name: Set Go Env
      run: |
        go env -w GOOS=windows
        go env -w GOARCH=amd64

    - run: go mod download

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest

    - name: Build
      run: go build -v ./...
